## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [2]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [4]:
# Your code here
sample_list_1= random.sample(range(100), k=80)
print (sample_list_1)

[67, 85, 53, 82, 24, 2, 72, 19, 45, 43, 38, 50, 57, 3, 44, 10, 33, 80, 61, 92, 98, 81, 15, 76, 9, 21, 32, 65, 97, 41, 84, 83, 4, 28, 27, 54, 52, 86, 35, 66, 95, 8, 60, 62, 16, 11, 94, 18, 73, 42, 0, 46, 5, 55, 36, 69, 49, 90, 77, 56, 12, 68, 22, 14, 87, 25, 63, 93, 78, 30, 26, 1, 37, 59, 23, 17, 88, 91, 39, 47]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [6]:
# Your code here
set1=set(sample_list_1)
print (set1)

{0, 1, 2, 3, 4, 5, 8, 9, 10, 11, 12, 14, 15, 16, 17, 18, 19, 21, 22, 23, 24, 25, 26, 27, 28, 30, 32, 33, 35, 36, 37, 38, 39, 41, 42, 43, 44, 45, 46, 47, 49, 50, 52, 53, 54, 55, 56, 57, 59, 60, 61, 62, 63, 65, 66, 67, 68, 69, 72, 73, 76, 77, 78, 80, 81, 82, 83, 84, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 97, 98}

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [7]:
# Your code here
sample_list_2=[]
for i in range(0, 100):
    sample_list_2.append(random.randint (0 <= i >= 100, 80))
print(sample_list_2)

[73, 33, 75, 10, 41, 37, 37, 55, 1, 23, 0, 44, 19, 27, 4, 11, 53, 54, 14, 38, 64, 36, 5, 69, 65, 10, 26, 47, 65, 26, 14, 24, 71, 75, 24, 60, 5, 43, 13, 11, 1, 55, 66, 72, 25, 37, 2, 17, 79, 36, 59, 13, 63, 73, 42, 62, 34, 45, 61, 11, 51, 8, 34, 32, 4, 9, 49, 11, 14, 42, 31, 43, 22, 41, 61, 28, 0, 5, 69, 25, 34, 67, 70, 24, 8, 44, 55, 9, 61, 74, 5, 79, 32, 49, 74, 39, 57, 8, 12, 4]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [8]:
# Your code here
set2=set(sample_list_2)
print (set2)

{0, 1, 2, 4, 5, 8, 9, 10, 11, 12, 13, 14, 17, 19, 22, 23, 24, 25, 26, 27, 28, 31, 32, 33, 34, 36, 37, 38, 39, 41, 42, 43, 44, 45, 47, 49, 51, 53, 54, 55, 57, 59, 60, 61, 62, 63, 64, 65, 66, 67, 69, 70, 71, 72, 73, 74, 75, 79}

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [9]:
# Your code here
set3=set1.difference(set2)
print(set3)

{3, 15, 16, 18, 21, 30, 35, 46, 50, 52, 56, 68, 76, 77, 78, 80, 81, 82, 83, 84, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 97, 98}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [14]:
# Your code here
set4 = set2 - set2.intersection(set1)
print(set4)

{64, 34, 70, 71, 74, 75, 13, 79, 51, 31}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [15]:
# Your code here
set5 = set2.intersection(set1)
print (set5)

{0, 1, 2, 4, 5, 8, 9, 10, 11, 12, 14, 17, 19, 22, 23, 24, 25, 26, 27, 28, 32, 33, 36, 37, 38, 39, 41, 42, 43, 44, 45, 47, 49, 53, 54, 55, 57, 59, 60, 61, 62, 63, 65, 66, 67, 69, 72, 73}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [18]:
# Your code here
print("set1 ",len(set1))
print("set2 ",len(set2))
print("set3 ",len(set3))
print("set4 ",len(set4))
print("set5 ",len(set5))

#no entiendo muy bien la pregunta...

set1  80
set2  58
set3  32
set4  10
set5  48

#### Create an empty set called `set6`.

In [27]:
# Your code here
lset6=[]
set6= set(lset6)
print(set6)
type(set6)

set()

set

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [29]:
# Your code here
set6.update(set3)
set6.update(set5)
print(set6)

{0, 1, 2, 3, 4, 5, 8, 9, 10, 11, 12, 14, 15, 16, 17, 18, 19, 21, 22, 23, 24, 25, 26, 27, 28, 30, 32, 33, 35, 36, 37, 38, 39, 41, 42, 43, 44, 45, 46, 47, 49, 50, 52, 53, 54, 55, 56, 57, 59, 60, 61, 62, 63, 65, 66, 67, 68, 69, 72, 73, 76, 77, 78, 80, 81, 82, 83, 84, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 97, 98}

#### Check if `set1` and `set6` are equal.

In [31]:
# Your code here
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [38]:
# Your code here
check2E1 = set1.issubset(set2) 
check3E1 = set1.issubset(set3)
print(check2E1)
print(check3E1)

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [41]:
# Your code here
union345 = set3.union(set4, set5)
union12= set1.union(set2)

print(union345)
print(union12)

union12 == union345

{0, 1, 2, 3, 4, 5, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 21, 22, 23, 24, 25, 26, 27, 28, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 41, 42, 43, 44, 45, 46, 47, 49, 50, 51, 52, 53, 54, 55, 56, 57, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 97, 98}
{0, 1, 2, 3, 4, 5, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 21, 22, 23, 24, 25, 26, 27, 28, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 41, 42, 43, 44, 45, 46, 47, 49, 50, 51, 52, 53, 54, 55, 56, 57, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 97, 98}

True

#### Using the `pop` method, remove the first element from `set1`.

In [44]:
# Your code here
# The pop method is suposed to remove a random item from the set, so removing the first element is a matter of luck
set1.pop()
print(len(set1))

78

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [45]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for i in list_to_remove:
    if i in set1:
        set1.remove(i)

print(set1)

{2, 3, 4, 5, 8, 10, 12, 14, 15, 16, 17, 18, 22, 23, 24, 25, 26, 27, 28, 30, 32, 33, 35, 36, 37, 38, 42, 43, 44, 45, 46, 47, 50, 52, 53, 54, 55, 56, 57, 60, 62, 63, 65, 66, 67, 68, 72, 73, 76, 77, 78, 80, 82, 83, 84, 85, 86, 87, 88, 90, 92, 93, 94, 95, 97, 98}